@{
  ViewData["Title"] = "Termos e Condições das Avaliações";
}

<div class="container mt-6 mh">
  <div class="pb-2 title-destaq col">
    <h2>@ViewData["Title"]</h2>
  </div>

<p>Estes Termos e Condi&ccedil;&otilde;es regem a conduta dos utilizadores associada &agrave; Plataforma de Reviews (coment&aacute;rios) Online (doravante designado &quot;Plataforma RO&quot;) oferecido pela MasterBurger. (de ora em diante designada &ldquo;MasterBurger&rdquo;). Os presentes Termos e Condi&ccedil;&otilde;es n&atilde;o dispensam a leitura da Pol&iacute;tica de Privacidade dispon&iacute;vel atrav&eacute;s do seguinte link: https://localhost:7178/politica-de-privacidade.</p>

<p>As classifica&ccedil;&otilde;es e coment&aacute;rios dos utilizadores ser&atilde;o normalmente publicados no prazo de dois a quatro dias &uacute;teis ap&oacute;s o envio dos mesmos.</p>

<p>Os coment&aacute;rios e avalia&ccedil;&otilde;es aos produtos, efetuada pelos utilizadores, destina-se &agrave; melhoria dos servi&ccedil;os/produtos disponibilizados pela MasterBurger.</p>

<p>Ao enviar qualquer conte&uacute;do para a MasterBurger, o utilizador declara e aceita que:</p>

<p>A sua review n&atilde;o est&aacute; protegida pelo direito de propriedade intelectual, e se estiver, o utilizador expressamente consente no uso da mesma pela MasterBurger sem que seja devida qualquer contrapartida e como condi&ccedil;&atilde;o de poder comentar os produtos adquiridos na MasterBurger.</p>

<p>&Eacute; respons&aacute;vel pelos dados e elementos que venha a facultar no &acirc;mbito da sua review. O utilizador obriga-se a indicar um nickname (alcunha), por exemplo: gato preto ou telem&oacute;vel junkie na review de modo a que a MasterBurger n&atilde;o consiga de forma alguma saber quem efetivamente fez a review.</p>

<p>A MasterBurger reserva-se no direito de rejeitar publica&ccedil;&otilde;es ou eliminar coment&aacute;rios menos id&oacute;neos ou de cariz duvidoso, que possam ser considerados contr&aacute;rios &agrave; lei, ofensivos dos bons costumes e regras de boa educa&ccedil;&atilde;o e/ou lesivos de direitos de terceiros.</p>

<p>As reviews que n&atilde;o s&atilde;o um coment&aacute;rio e/ou avalia&ccedil;&atilde;o aos produtos, mas sim quest&otilde;es ou reclama&ccedil;&otilde;es dos utilizadores ser&atilde;o exclu&iacute;das (n&atilde;o publicadas). Se os utilizadores quiserem reclamar ou colocar alguma quest&atilde;o n&atilde;o o poder&atilde;o fazer &nbsp;atrav&eacute;s do email contato@masterburger.pt.</p>


</div>