@{
  ViewData["Title"] = "Política de Privacidade";
}

<div class="container mt-6 mh">
  <div class="pb-2 title-destaq col">
    <h2>@ViewData["Title"]</h2>
  </div>

  <p><strong>1. INFORMA&Ccedil;&Atilde;O E CONSENTIMENTO</strong></p>

  <p>A Lei da Prote&ccedil;&atilde;o de Dados Pessoais (em diante &ldquo;LPDP&rdquo;) e o Regulamento Geral de Prote&ccedil;&atilde;o de Dados (Regulamento (UE) 2016/679 do Parlamento Europeu e do Conselho de 27 de abril de 2016, em diante &ldquo;RGPD&rdquo;) asseguram a prote&ccedil;&atilde;o das pessoas singulares no que diz respeito ao tratamento de dados pessoais e &agrave; livre circula&ccedil;&atilde;o desses dados.</p>

  <p>Nos termos legais s&atilde;o considerados &quot;dados pessoais&quot; qualquer informa&ccedil;&atilde;o, de qualquer natureza e independentemente do respetivo suporte, incluindo som e imagem, relativa a uma pessoa singular identificada ou identific&aacute;vel, pelo que a prote&ccedil;&atilde;o n&atilde;o abrange os dados de pessoas coletivas.</p>

  <p>Mediante a aceita&ccedil;&atilde;o da presente Pol&iacute;tica de Privacidade o utilizador presta o seu consentimento informado, expresso, livre e inequ&iacute;voco para que os dados pessoais fornecidos atrav&eacute;s do site https://www.MasterBurger.pt/ sejam inclu&iacute;dos num ficheiro da responsabilidade da MasterBurger Portugal, cujo tratamento nos termos da LPDP e do RGPD cumpre as medidas de seguran&ccedil;a t&eacute;cnicas e organizativas adequadas.</p>

  <p>A MasterBurger Portugal, mant&eacute;m uma base de dados com o registo dos seus clientes. Os dados presentes nesta base s&atilde;o unicamente os dados prestados pelos pr&oacute;prios na altura do seu registo, sendo recolhidos e processados automaticamente, nos termos aprovados pela Comiss&atilde;o Nacional de Prote&ccedil;&atilde;o de Dados, pela MasterBurger Portugal, entidade respons&aacute;vel pelo correspondente ficheiro.</p>

  <p>
    Em caso algum ser&aacute; solicitada informa&ccedil;&atilde;o sobre convic&ccedil;&otilde;es filos&oacute;ficas ou pol&iacute;ticas, filia&ccedil;&atilde;o partid&aacute;ria ou sindical, f&eacute; religiosa, vida privada e origem racial ou &eacute;tnica bem como os dados relativos &agrave; sa&uacute;de e &agrave; vida sexual, incluindo os dados gen&eacute;ticos.<br />
    Em caso algum levaremos a cabo qualquer das seguintes atividades com os dados pessoais que nos sejam facultados atrav&eacute;s deste site:
  </p>

  <p>
    Ceder a outras pessoas ou outras entidades, sem o consentimento pr&eacute;vio do titular dos dados;<br />
    Transferir para fora do Espa&ccedil;o Econ&oacute;mico Europeu (EEE), sem o consentimento pr&eacute;vio do titular dos dados.<br />
    &nbsp;
  </p>

  <p><strong>2. FINALIDADES DO TRATAMENTO DE DADOS PESSOAIS</strong></p>

  <p>Os dados pessoais que tratamos atrav&eacute;s desta p&aacute;gina ser&atilde;o unicamente utilizados para as seguintes finalidades:</p>

  <p>
    (i) Execu&ccedil;&atilde;o e gest&atilde;o de contrato de compra e venda ou de presta&ccedil;&atilde;o de servi&ccedil;os;<br />
    (ii) Processamento de encomendas;<br />
    (iii) Comunica&ccedil;&atilde;o com clientes e esclarecimento de d&uacute;vidas;<br />
    (iv) Processamento de Encomendas de informa&ccedil;&atilde;o;<br />
    (v) Processamento de reclama&ccedil;&otilde;es, Processos de Reguladores, Processos pr&eacute;-contencioso ou exerc&iacute;cio de direitos em processos judiciais;<br />
    (vi) Atividades de an&aacute;lise estat&iacute;stica;<br />
    (vii) Verificar, manter e desenvolver sistemas e an&aacute;lises estat&iacute;sticas;<br />
    (viii) Comunica&ccedil;&otilde;es de marketing direto (caso tenha consentido no tratamento dos seus dados pessoais para esta finalidade);<br />
    (ix) Preven&ccedil;&atilde;o e combate &agrave; fraude;<br />
    (x) Solicita&ccedil;&atilde;o de coment&aacute;rios a produtos ou servi&ccedil;os adquiridos;<br />
    (xi) Realiza&ccedil;&atilde;o de inqu&eacute;ritos de satisfa&ccedil;&atilde;o.<br />
    (xii) Gest&atilde;o e participa&ccedil;&atilde;o em eventos, passatempos e campanhas.<br />
  </p>
  <p>
    A MasterBurger garante a confidencialidade de todos os dados fornecidos pelos seus clientes. N&atilde;o obstante a MasterBurger proceder &agrave; recolha e ao tratamento de dados de forma segura e que impede a sua perda ou manipula&ccedil;&atilde;o, utilizando as t&eacute;cnicas mais aperfei&ccedil;oadas para o efeito, informamos que a recolha em rede aberta permite a circula&ccedil;&atilde;o dos dados pessoais sem condi&ccedil;&otilde;es de seguran&ccedil;a, correndo o risco de ser vistos e utilizados por terceiros n&atilde;o autorizados.
  </p>


</div>