@{
	ViewData["Title"] = "Sobre Nós";
}

<div class="container mt-6 mh">
	<div class="pb-2 title-destaq col">
		<h2>@ViewData["Title"]</h2>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="~/images/sobre.png" class="img-fluid" alt="Sobre MasterBurger">
			</div>

			<div class="col-md-6  mt-4 mt-md-0 mb-5">
				<p>Bem-vindo à <b>Hamburgueria MasterBurger</b>, o lugar onde a paixão pelo hambúrguer atinge seu ápice! Somos mais do que uma simples hamburgueria; somos uma experiência gastronômica que eleva o comum ao extraordinário.</p>

				<p>No coração da MasterBurger está a dedicação à qualidade. Selecionamos os ingredientes mais frescos e saborosos para criar hambúrgueres que desafiam as expectativas. Nossas carnes são escolhidas a dedo, desde o Angus suculento até as opções vegetarianas que surpreendem até as carnívoras mais convictas.</p>

				<p>Cada hambúrguer em nosso cardápio é uma obra-prima, cuidadosamente elaborada para proporcionar uma explosão de sabores em cada mordida. Do clássico e reconfortante Classic Supreme ao exótico e vibrante Veggie Delight, nossa variedade reflete a diversidade de paladares e preferências.</p>

				<p>Na MasterBurger, entendemos que a experiência vai além do sabor. É por isso que cuidamos de cada detalhe, desde a seleção dos ingredientes até a apresentação impecável em seu prato. Nossa atmosfera acolhedora e serviço amigável completam a jornada culinária, tornando cada visita uma experiência memorável.</p>

				<p>Nosso compromisso vai além da satisfação do cliente; buscamos encantar e inspirar. Quer você seja uma apaixonada por carne, uma devota do vegetarianismo ou alguém que busca novas aventuras gastronômicas, na MasterBurger, há sempre algo para todas.</p>

				<p>Junte-se a nós nesta jornada gastronômica única. Na MasterBurger, cada hambúrguer conta uma história, e mal podemos esperar para compartilhar essa história consigo. Sinta-se em casa, desfrute do sabor autêntico e faça parte da família MasterBurger. Estamos ansiosos para servi-la com paixão, criatividade e, é claro, os melhores hambúrgueres da cidade.</p>


			</div>
		</div>

	</div>
</div>