
@{
	ViewData["Title"] = "Dados Pessoais";
	Layout = "_CustomerDashboard";
}

<h3>Dados Pessoais</h3>

<div class="container">
	<h4> <a asp-controller="CustomerDados" asp-action="DadosListar">Dados Pessoais Listar</a></h4>
	<h4> <a asp-controller="CustomerDados" asp-action="DadosRegistar">Dados Pessoais Registar</a></h4>
</div>