@page
@model ForgotPasswordConfirmation
@{
	ViewData["Title"] = "Recuperação da palavra-passe";
}


<div id="page-otherpage">
	<div class="container ps-md-4 mh">
		<div class="row">
			<div class="d-flex text-uppercase">
				<h2>@ViewData["Title"]</h2>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col-9 col-md-6">
				<p class="alert alert-warning">
					Por favor, verifique o seu e-mail para redefinir a sua palavra-passe.
				</p>
			</div>
		</div>
	</div>
</div>