@page
@model ResetPasswordConfirmationModel
@{
	ViewData["Title"] = "Palavra-passe alterada";
}

<div id="page-otherpage">
	<div class="container ps-md-4 mh">
		<div class="row">
			<div class="d-flex text-uppercase">
				<h2>@ViewData["Title"]</h2>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col-9 col-md-6">
				<p class="alert alert-success">
					A palavra-passe foi redefinida.
				</p>
				<p><a asp-page="./Login">Clique aqui para iniciar sessão</a>.
			</p>
			</div>
		</div>
	</div>
</div>