@page
@model ResendEmailConfirmationModel
@{
	ViewData["Title"] = "Reenviar email de confirmação";
}

<div id="page-otherpage">
	<div class="container ps-md-4 mh">
		<div class="row">
			<div class="d-flex text-uppercase">
				<h2>@ViewData["Title"]</h2>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col-9 col-md-6">
				<form method="post">
					@if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Any()) {
						<div asp-validation-summary="All" class="alert alert-success pb-0"></div>
					}


					<div class="form-group">
						<label asp-for="Input.Email" class="form-label"></label>
						<input asp-for="Input.Email" class="form-control" aria-required="true" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<button type="submit" class="btn btn-primary">Enviar</button>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
