@model Encomenda

@{
  ViewData["Title"] = "Encomenda Concluída";
}

<div class="container mt-6 mh">
  <div class="row text-center">
    <div class="text-uppercase">
    <h2>A sua encomenda foi concluída com sucesso!</h2>
    </div>
    <p>Confirmamos o recebimento da sua encomenda e enviamos um resumo para o seu e-mail.</p>
    <p>Prepararemos tudo com agilidade para garantir uma experiência deliciosa.</p>
    <p>Obrigado por escolher a MasterBurger!</p>
    </div>
  <div class="form-group text-center mt-4  mb-6">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Ir para a Home</a>
  </div>
</div> 
